@{
    ViewData["Title"] = "Det vet inte du!, sönderägd!";
}
<h1>@ViewData["Title"]</h1>
<h2>OLA, ANSIKTSVARGEN</h2>
<h2>SIMON, LÖGNARNS PÖJK</h2>
<h2>FELLANBELLAN, MR "KÖPI PEJZT"</h2>
<h2>HENDRIK, KLANLEDARNS PÖJK</h2>

<p>Det finns inga listor din jävla ansiktsvarg, köttfejs!</p>
<p>OLA ÄR ETT FUCKING KÖTTFEJS!</p>
